*{
    padding: 0;
    margin: 0;
    list-style: none;
}


:root{
    --cor1-: #40FF67 ;
    --cor2-: #9CFFB2;
    --cor3-: #FFFFFF;
    --cor4-: #555555;
    --cor5-: #D9D9D9;
    --cor6-: #7fffd4;

}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("../fonts/Poppins-SemiBold.ttf");
}



/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-3); /* Cor do "ponteiro" da barra de rolagem */
}

/* Para o Firefox */
::-moz-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
    border-radius: 50px;
}

::-moz-scrollbar-thumb {
    background-color: var(--cor-3); /* Cor do "ponteiro" da barra de rolagem */
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display: none;
}
