* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

ul,
li {
    margin: 0;
    list-style: none;

}

input,
button {
    outline: none !important;
    border: none;
}

button:hover {
    cursor: pointer;
}

.text2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--cor1-);
}

.text1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--cor1-);
    line-height: 1.5;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}


.margin-left-50 {
    margin-left: 50px;
}




.container {
    width: 100%;
    margin: 0 auto;

}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--cor-1);
}

.wrap-login {
    width: 370px;
    margin-right: 50px;
    background-color: var(--cor-1);
}

.login-form {
    display: block;
    font-family: Poppins-Bold;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--cor2-);
}

.input-form {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: var(--cor2-);
    line-height: 1.2;
    display: block;
    height: 52px;
    background: transparent;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    outline: none;
}

.input-form:focus:not(:focus-visible) {
    outline: none;
}





.focus-input-form {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input-form::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.9s;
    background-color: var(--cor2-);
}

.focus-input-form::after {

    font-family: Poppins-Medium;
    font-size: 18px;
    color: var(--cor4-);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    transition: all 0.9s;
    max-width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 5px;
    background-color: none;

}

.has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;

}

.has-val.input-form + .focus-input-form::before {
    width: 100%;
}


.container-login-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: var(--cor3-);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--cor1-);
    border-radius: 5px;
    transition: all 0.4s;
}

.login-form-btn:hover {
    background-color: #7fffd4;
}

a  {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: var(--cor4-);
    margin: 0px;
    transition: all 0.4s;
}



a:focus {
    outline: none !important;

}

a:hover {
    text-decoration: none;
    color: var(--cor4-);

}

.sec{

    background-color: var(--cor2-);
    width: 60%;
    border-radius: 12px;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens na flex container */
    justify-content: space-around; /* Distribui os itens uniformemente ao longo do eixo principal */
    height: 100vh; /* 100% da altura da viewport */
}

.sec2{
    padding: 10%;
    background-color: var(--cor3-);
    border-radius: 12px;
    box-shadow: 0px 0px 22px 0px rgba(35, 35, 35, 0.341);}

    @media screen and (max-width: 1050px) {
        .sec{
            padding-top: 7%;
            width: 100%;
            height: auto;
            flex-direction: column;
        }
        .cadastro-form {
            margin-top: 25%;
            margin-left: -10%;
            padding: 10%;
        }
    }